.cart{
   height: 400px;
   width: 200px;
   background-color: rgb(77, 77, 162);
   position: relative;
}




img{
    position: absolute;
    right: 50px;
    top: 150px;
    width: 100px;
    height: 100px;
}

p{
    background-color: red;
    width: 110px;
    text-align: right;
    right: 2px;
    top: -10px;
   position: absolute;
}