#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  margin: 0px auto;
  width: 1000px;
  height: 80vh;

}

body{
  background-color: rgb(206, 206, 26);
}

.boton_container{

  display: flex;
  justify-content: center;
gap: 30px;
}